<td style="text-align: right;">
  {{ cbTag }}:
  <ng-container *ngIf="defaultSelection !== undefined">
    <input
      type="checkbox"
      [id]="id"
      [ngModel]="cbValue"
      (change)="toggleActive($event)"
    />
    <label [for]="id"></label>
  </ng-container>
</td>
<td>
  <label
    ><fa-icon [icon]="selectIcon"></fa-icon> {{ selectLabel }}</label
  >
</td>
<td colspan="2">
  <ng-select
    class="button"
    [id]="'NGS_' + id"
    [items]="selectItems"
    [addTag]="true"
    [ngModel]="selection"
    [disabled]="selectDisabled"
    [searchable]="false"
    [clearable]="false"
    (change)="selectionChanged($event)"
  >
  </ng-select>
</td>
