<body>
  <header style="text-align: center">
    <div>
      <h1>Multifunktionstool</h1>
    </div>
    <div class="logout">
      <label *ngIf="wsConected; else loginLabel" title="Logout"
        ><fa-icon
          [icon]="['fas', 'sign-out-alt']"
          (click)="disconnect()"
        ></fa-icon
      ></label>
      <ng-template #loginLabel>
        <label title="Login"
          ><fa-icon
            [icon]="['fas', 'sign-in-alt']"
            (click)="connect()"
          ></fa-icon
        ></label>
      </ng-template>
    </div>
    <div class="temperature">
      <fa-icon [icon]="['fas', 'history']"></fa-icon>
      {{ msg?.tic / 3600000 | number: "1.1-1" }} h
      <fa-icon [icon]="['fas', 'thermometer-half']"></fa-icon> {{ msg?.tmp }}°C
      <fa-icon [icon]="['fas', 'wrench']"></fa-icon> Dil {{ msg?.dil | flags:['D','N','G','G','I','6','7','8'] }}
    </div>
  </header>
  <div class="tab">
    <button
      class="tablinks"
      [ngClass]="{ active: tab == -1 }"
      type="button"
      [disabled]="!wsConected"
      (click)="tab = -1"
    >
      <br />
      <fa-icon [icon]="['fas', 'sliders-h']"></fa-icon>
    </button>
    <button
      *ngFor="let text of tabTexts; let i = index"
      class="tablinks"
      [ngClass]="{ active: tab == i }"
      type="button"
      [disabled]="!(msg?.sw)[i]"
      (click)="changeTab(i)"
    >
      {{ text }} <br />
      <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
    </button>
  </div>
  <main id="content">
    <div *ngIf="tab >= 0; else directSlider">
      <ul
        class="slidercontainer"
        id="lightSceneSliderContainer"
        style="position: relative;"
      >
        <li>
          <table class="slider">
            <tr>
              <td
                class="col3 edit-prog-icon"
                [ngStyle]="current_config_tab === 0 && { color: '#fbde18' }"
              >
                <fa-icon
                  [icon]="['fas', 'sun']"
                  (click)="set_curret_config_tab(0)"
                ></fa-icon>
              </td>
              <td
                class="col3 edit-prog-icon"
                [ngStyle]="current_config_tab === 2 && { color: '#fbde18' }"
              >
                <fa-icon
                  [icon]="['fas', 'running']"
                  (click)="set_curret_config_tab(2)"
                ></fa-icon>
              </td>
              <td
                class="col3 edit-prog-icon"
                [ngStyle]="current_config_tab === 1 && { color: '#fbde18' }"
              >
                <fa-icon
                  [icon]="['fas', 'sliders-h']"
                  (click)="set_curret_config_tab(1)"
                ></fa-icon>
              </td>
              <td class="col2">
                Lichtszene {{ tab + 1 }}
                {{ getOverrunTimestemp() }}
              </td>
              <td
                class="col3"
                [ngStyle]="current_config_tab === 2 && { color: '#fbde18' }"
              >
                <input
                  type="checkbox"
                  [id]="'lsm' + tab"
                  [disabled]="!wsConected"
                  (change)="
                    j['btn_' + (tab + 1)] = (msg?.btn)[tab] ? '1' : '0';
                    sendObjToLSM6()
                  "
                  [(ngModel)]="(msg?.btn)[tab]"
                /><label [for]="'lsm' + tab"></label>
              </td>
            </tr>
          </table>
        </li>
        <li id="block-lightScene1" class="no-block-Scene"></li>
        <li style="padding: 0px;">
          <table class="slider">
            <tr id="edit-prog1" *ngIf="showDetails">
              <td class="edit-prog" colspan="3">
                <table class="edit-prog">
                  <ng-container *ngIf="current_config_tab === 0">
                    <tr
                      app-pro-select
                      [id]="'SI'+tab"
                      [cbTag]="'Sensorkanalwahl'"
                      [selectItems]="[1, 2, 3, 4, 5, 6]"
                      [selection]="(msg?.lsm.si)[tab] + 1"
                      [defaultSelection]="tab + 1"
                      (selectionChange)="(msg?.lsm.si)[tab] = $event - 1"
                    ></tr>
                    <tr>
                      <td></td>
                      <td>
                        <label>
                          <fa-icon [icon]="['fas', 'sun']"></fa-icon>
                          Sensorwert:
                        </label>
                      </td>
                      <td>{{ (msg?.sens.ls)[(msg?.lsm.si)[tab]] }} Lux</td>
                    </tr>
                    <tr
                      app-pro-slider
                      [id]="'SP'+tab"
                      [sliderVisable]="false"
                      [cbTag]="'Tageslichtregelung'"
                      [sliderIcon]="'bullseye'"
                      [sliderLabel]="'Sollwert'"
                      [symbol]="'Lux'"
                      [defaultVal]="0"
                      [calcType]="clacType.NoCalc"
                      [(value)]="(msg?.lsm.sp)[tab]"
                      [min]="0"
                      [max]="20000"
                    ></tr>
                    <tr
                      app-pro-slider
                      [id]="'LT'+tab"
                      [sliderVisable]="false"
                      [cbTag]="
                        'Dämmerungsschalter LBM Kanal ' +
                        ((msg?.lsm.si)[tab] + 1)
                      "
                      [sliderIcon]="'adjust'"
                      [sliderLabel]="'Schwellwert'"
                      [symbol]="'Lux'"
                      [defaultVal]="0"
                      [calcType]="clacType.NoCalc"
                      [(value)]="(msg?.sens.lt)[tab]"
                      [min]="0"
                      [max]="20000"
                    ></tr>
                    <tr
                      app-pro-select
                      [id]="'MO23'+tab"
                      [cbTag]="'Externer Dämmerungsschalter'"
                      [selectLabel]="'Eingang ' + ((msg?.lsm.si)[tab] + 1)"
                      [selectItems]="['Aus', 'Schließer', 'Öffner']"
                      [defaultSelection]="'Aus'"
                      [(flags)]="(msg?.sens.mo)[tab]"
                      [flagMask]="12"
                    ></tr>
                  </ng-container>
                  <ng-container *ngIf="current_config_tab === 1">
                    <tr
                      app-pro-slider
                      [id]="'CAOF'+tab"
                      [cbTag]="'Offset'"
                      [sliderIcon]="'arrow-up'"
                      [sliderLabel]="'Verschiebung'"
                      [value]="(msg?.lsm.caof)[tab]"
                      [symbol]="(msg?.lsm.sp)[tab] > 0 ? 'Lux' : '%'"
                    ></tr>
                    <tr
                      app-pro-slider
                      [sliderDisabled]="true"
                      [id]="'MO6'+tab"
                      [cbTag]="'LBM Kanal ' + (tab + 1)"
                      [sliderIcon]="'spinner'"
                      [sliderLabel]="'Potentiometer'"
                      [value]="(msg?.sens.pot)[this.tab]"
                    ></tr>
                    <tr
                      app-pro-slider
                      [id]="'MIN'+tab"
                      [cbTag]="'Min'"
                      [sliderIcon]="'arrow-down'"
                      [sliderLabel]="'Min'"
                      [defaultVal]="96"
                      [(value)]="(msg?.lsm.min)[tab]"
                    ></tr>
                    <tr
                      app-pro-slider
                      [id]="'MAX'+tab"
                      [cbTag]="'Max'"
                      [sliderIcon]="'arrow-up'"
                      [sliderLabel]="'Max'"
                      [defaultVal]="254"
                      [(value)]="(msg?.lsm.max)[tab]"
                    ></tr>
                  </ng-container>
                  <ng-container *ngIf="current_config_tab === 2">
                    <tr
                      app-pro-slider
                      [id]="'OT'+tab"
                      [sliderVisable]="false"
                      [cbTag]="'Treppenlichtfunktion'"
                      [sliderIcon]="'stopwatch'"
                      [sliderLabel]="'Nachlaufzeit'"
                      [symbol]="'Min'"
                      [defaultVal]="0"
                      [calcType]="clacType.Minutes"
                      [(value)]="(msg?.sens.ot)[this.tab]"
                      [min]="0"
                      [max]="60000"
                      [step]="0.1"
                    ></tr>
                    <tr
                      app-pro-select
                      [id]="'MO4'+tab"
                      [cbTag]="'LSM6 Eingang ' + (tab + 1)"
                      [selectItems]="[
                        'Treppenlichtfunktion',
                        'Tasten, Nachdimmen'
                      ]"
                    ></tr>
                    <tr
                      app-pro-select
                      [id]="'MO5'+tab"
                      [cbTag]="'Bewegungsmelder'"
                      [selectLabel]="'LBM Kanal ' + ((msg?.lsm.si)[tab] + 1)"
                      [selectItems]="['aktiv', 'inaktiv']"
                    ></tr>
                    <tr
                      app-pro-select
                      [id]="'MO78'+tab"
                      [cbTag]="'Globaler Trigger'"
                      [selectItems]="[
                        'Aus',
                        'Globaler Sender',
                        'Globaler Empfänger'
                      ]"
                      [defaultSelection]="'Aus'"
                    ></tr>
                  </ng-container>
                </table>
              </td>
            </tr>
          </table>
        </li>
        <li *ngFor="let text of tabTexts; let i = index" class="slider-row">
          <app-dimm-slider
            [channel]="i"
            [(dimmValue)]="(msg?.lsm.sl)[this.tab][i]"
          ></app-dimm-slider>
        </li>
      </ul>
    </div>
    <ng-template #directSlider>
      <ul
        class="slidercontainer"
        id="lightSceneSliderContainer"
        style="position: relative;"
      >
        <li>
          <table class="slider">
            <tr>
              <td class="col2">Licht dimmen</td>
            </tr>
          </table>
        </li>
        <li *ngFor="let text of tabTexts; let i = index" class="slider-row">
          <app-dimm-slider
            [channel]="i"
            [sceneSlider]="false"
            [disabled]="(msg?.sw)[i]"
            [(dimmValue)]="(msg?.lsm.dali)[i]"
            (change)="
              j['dali_' + (i + 1)] = (msg?.lsm.dali)[i]; sendObjToLSM6()
            "
          ></app-dimm-slider>
        </li>
      </ul>
    </ng-template>
    <ul class="button-container" *ngIf="showConnectionData">
      <li>
        <label class="button1"
          ><fa-icon [icon]="['fas', 'link']"></fa-icon> IP-Adresse:
        </label>
      </li>
      <li>
        <ng-select
          class="button"
          [items]="ipItems"
          [addTag]="true"
          bindValue="label"
          [(ngModel)]="wsUrl"
          (change)="add_to_pouch()"
          [dropdownPosition]="'top'"
        >
        </ng-select>
      </li>
      <li>
        <label
          class="button"
          [ngStyle]="connection_failed && { 'background-color': 'red' }"
          title="Login"
          (click)="connect()"
        >
          <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> {{wsState}} -->
          <ng-container *ngIf="connecting; else elseTemplate">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
          </ng-container>

          {{ wsState }}
        </label>
      </li>
    </ul>
    <ul class="button-container">
      <li>
        <label class="button"
          ><fa-icon [icon]="['fas', 'upload']"></fa-icon> Hochladen
          <input
            type="file"
            name="file"
            accept="application/json"
            (change)="uploadJsonFile($event)"
            style="display: none"
          />
        </label>
      </li>
      <li>
        <label class="button" (click)="downloadJsonFile()" id="backup"
          ><fa-icon [icon]="['fas', 'download']"></fa-icon> Herunterladen</label
        >
      </li>
      <li>
        <label
          *ngIf="wsConected; else connectLabel"
          class="button"
          (click)="j = msg; sendObjToLSM6()"
        >
          <ng-container *ngIf="transmitting; else elseTemplate">
            <ng-container *ngIf="connection_failed; else elseTemplate">
              <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
              Übertragung fehlgeschlagen
            </ng-container>
            <ng-template #elseTemplate>
              <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
              Übertragung
            </ng-template>
          </ng-container>
          <ng-template #elseTemplate>
            <fa-icon [icon]="['fas', 'save']"></fa-icon> Speichern
          </ng-template>
        </label>

        <ng-template #connectLabel>
          <label
            class="button"
            (click)="showConnectionData = !showConnectionData"
          >
            <ng-container *ngIf="showConnectionData; else elseTemplate">
              <fa-icon [icon]="['fas', 'ban']"></fa-icon> Abbrechen
            </ng-container>
            <ng-template #elseTemplate>
              <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
              Verbindung
            </ng-template>
          </label>
        </ng-template>
      </li>
    </ul>
  </main>
  <footer>
    <ul class="button-container">
      <li>
        <a href="http://www.protronic-gmbh.de" target="_blank" class="logolink"
          ><img src="./assets/logo_neg.png" class="logo"
        /></a>
      </li>
      <li>
        <a
          href="http://www.protronic-gmbh.de/media/k2/attachments/Betriebsanleitung-LSM6-DE.pdf"
          target="_blank"
          class="downloadlink"
          ><i class="fas fa-file-pdf" aria-hidden="true"></i> Anleitung (DE)</a
        >
      </li>
      <li>
        <a class="logolink"><i class="fas fa-code-branch"></i> 0.0.7</a>
      </li>
    </ul>
  </footer>
</body>
